{% extends 'base.html.twig' %}

{% block title %}Sampana{% endblock %}

{% block body %}
    <h1 style="text-align: center; text-decoration: underline; font-weight: bold; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;">Sampana</h1>

    <table class="table" style="font-family: Arial; text-align: center; border: 2px solid #000000;">
        <thead>
            <tr style="font-size:20px;">
                <th></th>
                <th>Anarana</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sampana in sampanas %}
            <tr>
                <td>{{ sampana.id }}</td>
                <td>{{ sampana.anarana }}</td>
                <td>
                    <a  class="btn btn-outline-info" href="{{ path('sampana_show', {'id': sampana.id}) }}">Ijery</a>
                    <a  class="btn btn-outline-warning" href="{{ path('sampana_edit', {'id': sampana.id}) }}">Anova</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-primary" href="{{ path('sampana_new') }}">Apiditra Sampana Vaovao</a>
{% endblock %}
