{% extends 'base.html.twig' %}

{% block title %}Sampana{% endblock %}

{% block body %}
    <h1>Sampana</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Anarana</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sampana in sampanas %}
            <tr>
                <td>{{ sampana.idSampana }}</td>
                <td>{{ sampana.anarana }}</td>
                <td>
                    <a  class="btn btn-info" href="{{ path('sampana_show', {'idSampana': sampana.idSampana}) }}">Ijery</a>
                    <a  class="btn btn-warning" href="{{ path('sampana_edit', {'idSampana': sampana.idSampana}) }}">Anova</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-success" href="{{ path('sampana_new') }}">Sampana Vaovao</a>
{% endblock %}
