{% extends 'base.html.twig' %}

{% block title %}Vaovao{% endblock %}

{% block body %}
<body>
    <h1 style="text-align: center; text-decoration: underline; font-weight: bold; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;">Vaovao</h1>

    <table class="table" style="font-family: Arial; text-align: center; border: 2px solid #000000;">
        <thead>
            <tr style="font-size:20px;">
                <th>Laharana</th>
                <th>Lohateny</th>
                <th>Votohatiny</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vaovao in vaovaos %}
            <tr>
                <td>{{ vaovao.idVaovao }}</td>
                <td>{{ vaovao.titre }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('vaovao_show', {'idVaovao': vaovao.idVaovao}) }}">Ijery</a>
                    <a class="btn btn-outline-warning" href="{{ path('vaovao_edit', {'idVaovao': vaovao.idVaovao}) }}">Anova</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Mbola tsisy vaovao</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('vaovao_new') }}">Hapiditra Vaovao</a>
</body>
{% endblock %}

