{% extends 'base.html.twig' %}

{% block title %}Vaovao{% endblock %}

{% block body %}
    <h1>Vaovao</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Laharana</th>
                <th>Lohateny</th>
                <th>Votohatiny</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vaovao in vaovaos %}
            <tr>
                <td>{{ vaovao.idVaovao }}</td>
                <td>{{ vaovao.titre }}</td>
                <td>{{ vaovao.contenu }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('vaovao_show', {'idVaovao': vaovao.idVaovao}) }}">Ijery</a>
                    <a class="btn btn-warning" href="{{ path('vaovao_edit', {'idVaovao': vaovao.idVaovao}) }}">Anova</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Mbola tsisy vaovao</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('vaovao_new') }}">Vaovao</a>
{% endblock %}
