{% extends 'base.html.twig' %}

{% block title %}Fpvm!{% endblock %}

{% block body %}
   <br> <h2 style="text-align: center; text-decoration: underline; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;"><b>Mpiangona vaovao</b></h2><br>
    {{ form_start(form) }}
    {{ form_row(form.anarana) }}
    {{ form_row(form.sampana) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.adresy) }}
    {{ form_row(form.login) }}
    {{ form_row(form.mdp) }}
    {{ form_row(form.mpandray) }}
    <input type="submit" value="Apidirina" class="btn btn-primary btn-lg btn-block">
    {{ form_end(form) }}
{% endblock %}