{% extends 'base.html.twig' %}

{% block title %}Hello MpiangonaController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 style="text-align: center; text-decoration: underline; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;">Mpiangona</h2>
        <a href="{{ path('create_mpiangona') }}" class="btn btn-outline-primary">Ajouter</a><br>
        <table class="table table-striped">

            <thead>
            <tr><th>Anarana</th><th>Téléphone</th><th>Action</th></tr>
            </thead>
            {% for m in mpiangona %}
                <tbody><tr><td>{{ m.anarana }}</td><td>0{{ m.telephone }}</td>
                    <td>
                     <a href="{{ path("show_mpiangona",{"id":m.id}) }}" class="btn btn-primary">Ijery</a>
                        <a href="{{ path('update_mpiangona',{'id':m.id}) }}" class="btn btn-secondary">Anova</a>
                        <a href="#" class="btn btn-danger">Amafa</a>
                    </td>
                </tr></tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}